{% extends "base.html" %}

{% block content %}
<div class="row">
 <div class="col-md-12">
  <h1>About Matt Makai</h1>
  <p>I'm a software developer based in Washington, D.C.
     currently working on a new program for the
     <a href="https://www.youtube.com/watch?v=TF129ioe8kc">Twilio Developer Network</a>.
  </p>

  <h3>Projects</h3>
  <p>Every year I pick a major side project to expand my software development 
     abilities.
  </p>
  <p>For <strong>2018</strong>, I'm working on a new video course and book 
     to teach the
     <a href="https://www.fullstackpython.com/configuration-management.html">configuration management tool</a>, 
     <a href="https://www.fullstackpython.com/ansible.html">Ansible</a>. I'll
     also produce a major new update to 
     <a href="http://www.deploypython.com/">The Full Stack Python Guide to Deployments</a>,
     book which uses Ansible extensively throughout the deployment process.
  </p>

  <p>In <strong>2017</strong>, I launched the completed
     <a href="https://training.talkpython.fm/courses/explore_entrepreneurs/python-for-entrepreneurs-build-and-launch-your-online-business">Python for Entrepreneurs video course</a> 
     that was started in <strong>2016</strong>, then spent the rest of the 
     year focused on our little newborn son, Graham.
  </p>

  <p>Throughout <strong>2015</strong> I wrote and released a book about web 
     application deployments called 
     <a href="http://www.deploypython.com/">The Full Stack Python Guide to Deployments</a>.
  </p>

  <p>In <strong>2014</strong>, my side project was building 
     <a href="http://www.fullstackpython.com/">Full Stack Python</a> 
     into a great resource for anyone interested in learning about programming 
     in Python. 
  </p>
         
  <p>Back in <strong>2013</strong>, my project was
     <a href="http://www.codingacrossamerica.com/">Coding Across America</a>.
     I road tripped for 5 months to 30 cities across the United States to 
     talk with fellow software developers and tech startups. In 2012 I
     built a Django application called ProofDriven that calculated 
     the return on investment for IT purchases.
  </p>

  <p>I originally started writing Full Stack Python 
     in <strong>2012</strong> and it remains a constant side project that I 
     work on daily every year in addition to other projects on this list.
  </p>

  <h3>Software Development</h3>
  <p>My primarily technology skill set is in the Python ecosystem. My 
     secondary programming capabilities are with Swift and iOS to build
     mobile apps. In a past life I worked primarily with the JVM stack 
     with Java and Clojure, but now I typically use Python whenever I
     want to build a web application or API.
  </p>
 </div>
</div>

<div class="row">
 <div class="col-md-6">
  <h3>Email</h3>
  <a href="mailto:matthew.makai@gmail.com">matthew.makai@gmail.com</a>
 </div>
 <div class="col-md-6">
  <h3>GitHub</h3>
  <a href="https://github.com/mattmakai">mattmakai</a>
 </div>
</div>
{% endblock %}
