{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>About Matt Makai</h1>
        <p>
          I'm a software developer based in San Francisco, California
          currently serving the incredible
          <a href="https://www.youtube.com/watch?v=TF129ioe8kc">Twilio Developer Network crew</a>
          as the West Coast Developer Evangelism Manager.
        </p>

        <h3>Projects</h3>
        <p>
         Every year I pick a major side project to sink my teeth into to
         expand my software development abilities. For 2016, my side
         project is coding, deploying and running the 
         <a href="https://github.com/makaimc/plapi">Programming Languages web API (PLAPI)</a>.
        </p>
        <p>
         In 2015 I continued the work I originally began in 2012 on 
         <a href="https://www.fullstackpython.com/">Full Stack Python</a>
         while I also wrote a new book about web application 
         deployments called 
         <a href="http://www.deploypython.com/">The Full Stack Python Guide to Deployments</a>.
         Throughout 2014 my side project was building 
         <a href="http://www.fullstackpython.com/">Full Stack Python</a> 
         into a great resource for anyone interested in learning about Python 
         web application development. 
        </p>
         
        <p>
         In 2013 my project was
         <a href="http://www.codingacrossamerica.com/">Coding Across America</a>.
         I road tripped for 5 months to 30 cities across the United States to 
         talk with fellow software developers and tech startups. In 2012 I
         built a Django application called ProofDriven that calculated 
         the return on investment for IT purchases.
        </p>

        <h3>Software Development</h3>
        <p>
          My primarily technology skill set is in the Python ecosystem. My 
          secondary programming capabilities are with Swift and iOS to build
          mobile apps. In a past life I worked primarily with the JVM stack 
          with Java and Clojure, but now I typically use Python whenever I
          want to build a web application or API.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h3>Email</h3>
        <a href="mailto:matthew.makai@gmail.com">matthew.makai@gmail.com</a>
    </div>
    <div class="col-md-6">
        <h3>Freenode</h3>
        mattmakai
    </div>
</div>

<h3 style="margin-bottom: 10px;">Social Sites</h3>
<div class="row">
    <div class="col-md-5">
        <a class="social-media-icon" href="http://twitter.com/mattmakai"><img src="{{ STATIC }}img/social/twitter.png" /></a>
        <a class="social-media-icon" href="http://github.com/makaimc"><img src="{{ STATIC }}img/social/github.png" /></a>
        <a class="social-media-icon" href="http://www.linkedin.com/in/matthewmakai"><img src="{{ STATIC }}img/social/linkedin.png"></a>
    </div>
</div>
{% endblock %}
