{% set STATIC = '/source/static/' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Matt Makai dot com</title>
    <meta name="author" content="Matt Makai">
    <meta name="description" content="Python and Java web stacks software developer and Developer Evangelist for Twilio.">
    <meta name="language" content="english">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ STATIC }}img/8-bit-matt-small.png">
    <link rel="stylesheet" href="{{ STATIC }}css/mm.css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js">
      </script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js">      </script>
    <![endif]-->
    {% block css_head %}{% endblock %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-19910497-3', 'mattmakai.com'); ga('send', 'pageview');
    </script>
</head>
<body>
    {% block variables %}{% endblock %}
    <div class="fork-me">
        {% block forkme %}{% endblock %}
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2" id="responsive-top-bar">
                {% include "top-bar.html" %}
            </div>
            <div class="col-md-2 sidebar">
                {% include "sidebar.html" %}
            </div>
            <div class="col-md-offset-2 col-md-10 main">
                {% block content %}{% endblock %}
            </div>
            <div class="col-md-2" id="responsive-bottom-bar">
                {% include "bottom-bar.html" %} 
            </div>
        </div>
    </div>
    <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="{{ STATIC }}js/bootstrap.min.js"></script>
    {% block javascript_body %}{% endblock %}
    <script type="text/javascript">
        $(document).ready(function() {
            {% block js_ready %}{% endblock %}
        });
    </script>
    <div style="display: none;">
        <img src="https://www.linkedin.com/profile/view?authToken=zRgB&authType=name&id=3952407" />
    </div>
</body>
</html>
