{% if page.slug == 'about' %}
    {% include 'about.html' %}
{% elif page.slug == 'bookmarks' %}
    {% include 'bookmarks.html' %}
{% elif page.slug == 'work' %}
    {% include 'work.html' %}
{% elif page.slug == 'talks' %}
    {% include 'talks.html' %}
{% elif page.slug == 'bio' %}
    {% include 'other.html' %}
{% elif page.slug == 'live-coding' %}
    {% include 'other.html' %}
{% elif page.slug == 'learning-swift' %}
    {% include 'other.html' %}
{% elif page.category == 'page' %}
    {% include 'other.html' %}
{% endif %}
