<ul class="nav nav-sidebar nav-sidebar-top">
    <li style="text-align: center;">
        <img src="{{ STATIC }}img/matt-makai-small.jpg" class="img-circle">
    </li>
</ul>
<div class="nav nav-sidebar">
    <p>
        <a href="/">Matt Makai</a>, software developer with an affinity
        for <a href="https://www.python.org/">Python</a>. 
        San Francisco, CA-based 
        <a href="https://www.twilio.com/blog/2014/02/introducing-developer-evangelist-matt-makai.html">Developer Evangelist</a> 
        for
        <a href="https://www.twilio.com/">Twilio</a>. 
    </p>
    <p>
        Author of
        <a href="http://www.fullstackpython.com/">Full Stack Python</a>
        and 
        <a href="http://www.codingacrossamerica.com/">Coding Across America</a>.
    </p>
    <p>
       I am <a href="https://github.com/makaimc">makaimc</a> on GitHub and
       @<a href="https://twitter.com/mattmakai">mattmakai</a> on Twitter.
    </p>
</div>
<ul class="nav nav-sidebar">
    <li{% if active_page == "writing" %} class="active"{% endif %}{% if not page and not active_page %} class="active"{% endif %}><a href="/">Writing</a></li>
    <li {% if page and page.category == 'talks' %} class="active"{% endif %}><a href="/talks.html">Tech Talks</a></li>
    <li {% if page and page.category == "about" %} class="active"{% endif %}><a href="/about.html">About</a></li>
    <li {% if page and page.category == "work" %} class="active"{% endif %}><a href="/work.html">Work</a></li>
    <li {% if page and page.category == "bookmarks" %} class="active"{% endif %}><a href="/bookmarks.html">Bookmarks</a></li>
    <li><a href="/matt-makai-resume.pdf">Resume (.pdf)</a></li>
</ul>
<ul class="nav nav-sidebar nav-sidebar-top">
    <li class="active" style="text-align: center;">
        <img src="{{ STATIC }}img/8-bit-matt-small.png" class="img-rounded">
    </li>
</ul>
