<ul class="nav nav-sidebar nav-sidebar-top">
    <li style="text-align: center;">
        <img src="{{ STATIC }}img/matt-makai-small.jpg" class="img-circle">
    </li>
</ul>
<div class="nav nav-sidebar">
    <p>
        Matt Makai, Python &amp; Java stacks web developer. 
        Currently a Developer Evangelist at 
        <a href="https://www.twilio.com/">Twilio</a>.
    </p>
</div>
<ul class="nav nav-sidebar">
    <li><a href="/">All</a></li>
    <li><a href="/writing.html">Writing</a></li>
    <li><a href="/coding.html">Coding</a></li>
    <li><a href="/teaching.html">Teaching</a></li>
</ul>
<ul class="nav nav-sidebar">
    <li><a href="">Projects</a></li>
    <li><a href="/bookmarks.html">Bookmarks</a></li>
    <li><a href="/matt-makai-resume.pdf">Resume</a></li>
    <li><a href="">About</a></li>
</ul>
<ul class="nav nav-sidebar nav-sidebar-top">
    <li class="active" style="text-align: center;">
        <img src="{{ STATIC }}img/8-bit-matt-small.png" class="img-rounded">
    </li>
</ul>
