<ul class="nav nav-sidebar nav-sidebar-top">
    <li style="text-align: center;">
        <img src="{{ STATIC }}img/matt-makai-small.jpg" class="img-circle">
    </li>
</ul>
<div class="nav nav-sidebar">
    <p>
        <a href="/">Matt Makai</a>, software developer with an affinity
        for <a href="https://www.python.org/">Python</a> and 
        <a href="https://developer.apple.com/swift/">Swift</a>,
        currently with 
        <a href="https://www.twilio.com/blog/2014/02/introducing-developer-evangelist-matt-makai.html">Twilio</a>.
    </p>
    <p>
        Author of
        <a href="https://www.fullstackpython.com/">Full Stack Python</a>
        and 
        <a href="/work.html">other Python books and videos</a>.
    </p>
    <p>
       mattmakai on <a href="https://github.com/mattmakai">GitHub</a>
       &amp; <a href="https://twitter.com/mattmakai">Twitter</a>.
    </p>
</div>
<ul class="nav nav-sidebar">
    <li{% if page and page.slug != "talks" and page.slug != "work" and page.slug != "about" %} class="active"{% endif %}{% if not page %} class="active"{% endif %}><a href="/">Writing</a></li>
    <li {% if page and page.slug == "talks" %} class="active"{% endif %}><a href="/talks.html">Talks</a></li>
    <li {% if page and page.slug == "work" %} class="active"{% endif %}><a href="/work.html">Work</a></li>
    <li {% if page and page.slug == "about" %} class="active"{% endif %}><a href="/about.html">About</a></li>
    <li><a href="/matt-makai-resume.pdf">Resume</a></li>
    <li><a href="https://github.com/mattmakai">Code</a></li>
</ul>
<ul class="nav nav-sidebar nav-sidebar-top">
    <li class="active" style="text-align: center;">
        <img src="{{ STATIC }}img/8-bit-matt-small.png" class="img-rounded">
    </li>
</ul>
