{% extends "base.html" %}

{% block content %}        
<h1>Resource Gathering</h1>

<h2>Python</h2>
<ul>
 <li><a href="http://planetpython.org/">Planet Python</a></li>
 <li><a href="https://www.reddit.com/r/Python/">/r/python</a></li>
</ul>


<h2>Swift / Apple platforms</h2>
<ul>
 <li><a href="https://www.reddit.com/r/swift/">/r/swift</a></li>
 <li><a href="https://www.reddit.com/r/iOSProgramming/">/r/iosprogramming</a></li>
</ul>

<h2>Java / Android platforms</h2>
<ul>
 <li><a href="https://www.reddit.com/r/java/">/r/java</a></li>
</ul>


<h2>Web / Mobile / General Software Development</h2>
{% endblock %}
