<div class="responsive-top-bar">
    <div style="text-align: center;">
        <img src="{{ STATIC }}img/matt-makai-small.jpg" class="img-circle">
    </div>
    <p style="padding-top: 30px;">
        <a href="/">Matt Makai</a>, Python &amp; Java web developer. 
        Washington, D.C.-based Developer Evangelist for
        <a href="https://www.twilio.com/">Twilio</a>. 
    </p>
    <p>
        Author of
        <a href="http://www.fullstackpython.com/">Full Stack Python</a>
        and 
        <a href="http://www.codingacrossamerica.com/">Coding Across America</a>.
    </p>
    <p>On Twitter I am @<a href="https://twitter.com/mattmakai">mattmakai</a>
       and <a href="https://github.com/makaimc">makaimc</a> on GitHub.
    </p>
</div>
