<div class="responsive-top-bar">
    <div style="text-align: center;">
        <img src="{{ STATIC }}img/matt-makai-small.jpg" class="img-circle">
    </div>
    <p style="padding-top: 30px;">
        <a href="/">Matt Makai</a> -
        <a href="http://www.fullstackpython.com/">Python</a> web dev &amp;
        <a href="https://www.twilio.com/">Twilio</a>
        Developer Evangelist.
    </p>
    <p>@mattmakai on <a href="https://twitter.com/mattmakai">Twitter</a> 
       &amp; <a href="https://github.com/mattmakai">GitHub</a>
    </p>
</div>
