{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2>Employer</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a href="https://www.twilio.com/">
                <img class="img-thumbnail img-responsive" src="{{ STATIC }}img/work/twilio-logo-white-bg.png" alt="Twilio logo">
            </a>
        </div>
    </div>
    
    <div class="row more-margin">
        <div class="col-md-12">
            <h2>Side Projects</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h4 style="margin-bottom: 0px;">2015</h4>
            <img class="img-thumbnail img-responsive" src="{{ STATIC }}img/work/waq-logo.png" alt="Web API Quest logo" style="margin-top: 5px;" />
        </div>
        <div class="col-md-4">
            <h4 style="margin-bottom: 0px;">&nbsp;</h4>
            <img class="img-thumbnail img-responsive" src="{{ STATIC }}img/work/fsp-deployment-guide.png" alt="Full Stack Python Guide to Deployments logo" style="margin-top: 5px;" />
        </div>
        <div class="col-md-4">
            <h4 style="margin-bottom: 0px;">2014</h4>
            <a href="http://www.fullstackpython.com/">
                <img class="img-thumbnail img-responsive" src="{{ STATIC }}img/work/fsp-logo.png" alt="Full Stack Python logo" style="margin-top: 5px;" />
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h4 style="margin-bottom: 0px;">2013</h4>
            <a href="http://www.codingacrossamerica.com/">
                <img class="img-thumbnail" src="{{ STATIC }}img/work/cam-logo.png" alt="Coding Across America logo" style="margin-top: 5px;" />
            </a>
        </div>
        <div class="col-md-4">
            <h4 style="margin-bottom: 0px;">2012</h4>
            <img class="img-thumbnail img-responsive" src="{{ STATIC }}img/work/pd-2012.png" alt="ProofDriven logo" style="margin-top: 5px;" />
        </div>
    </div>
    
    <div class="row more-margin">
        <div class="col-md-12">
            <h2>Previous Employers</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <a href="http://www.excella.com/">
                <img class="img-thumbnail img-responsive" src="{{ STATIC }}img/work/excella.png" alt="Excella Consulting logo">
            </a>
        </div>
        <div class="col-md-3">
            <a href="http://www.sapient.com/">
                <img class="img-thumbnail img-responsive" src="{{ STATIC }}img/work/sapient.jpg" alt="Sapient logo">
            </a>
        </div>
        <div class="col-md-3">
            <a href="http://www.boozallen.com/">
                <img class="img-thumbnail img-responsive" src="{{ STATIC }}img/work/bah.png" alt="Booz Allen Hamilton logo">
            </a>
        </div>
        <div class="col-md-3">
            <a href="http://www.freddiemac.com/">
                <img class="img-thumbnail img-responsive" src="{{ STATIC }}img/work/freddie-mac.png" alt="Freddie Mac logo">
            </a>
        </div>
    </div>
    
    <div class="row more-margin">
        <div class="col-md-12">
            <h2>Consulting Clients</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <strong>Commercial &amp; Non-profit</strong>
            <br/>
            <a href="http://www.fool.com/">The Motley Fool</a>
            <br/>
            <a href="http://www.marriott.com/">Marriott International</a>
            <br/>
            <a href="http://www.nti.org/">The Nuclear Threat Initiative</a>
            <br/>
            <a href="http://www.gwu.edu/">George Washington University</a>
            <br/>
            <a href="http://www.piaa.us/">Physician Insurers Association of America</a>
        </div>
        <div class="col-md-6 mobile-more-margin">
            <strong>Federal</strong>
            <br/>
            <a href="http://www.defense.gov">Department of Defense</a>
            <br/>
            <a href="http://www.fbi.gov">Federal Bureau of Investigation</a>
            <br/>
            <a href="http://www.consumerfinance.gov/">Consumer Financial Protection Bureau</a>
        </div>
    </div>

{% endblock %}
